version: 2.1

orbs:
  architect: giantswarm/architect@6.14.0

workflows:
  build:
    jobs:
    - architect/go-build:
        name: go-build
        binary: encryption-provider-operator
        filters:
          tags:
            only: /^v.*/

    - architect/push-to-registries:
        context: architect
        name: push-to-registries
        requires:
        - go-build
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master
    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: push-encryption-provider-operator-to-app-catalog
        app_catalog: control-plane-catalog
        app_catalog_test: control-plane-test-catalog
        chart: encryption-provider-operator
        requires:
        - push-to-registries
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master
